<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235776334997-s7kh9ll4ukl1j6jahi7vgsant4oadc2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235776334997-s7kh9ll4ukl1j6jahi7vgsant4oadc2i</string>
	<key>API_KEY</key>
	<string>AIzaSyB9HoMB3SzZuQkgAORM0G5m-kPSEJZzEWI</string>
	<key>GCM_SENDER_ID</key>
	<string>235776334997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pickterra</string>
	<key>PROJECT_ID</key>
	<string>pickterra-f60c8</string>
	<key>STORAGE_BUCKET</key>
	<string>pickterra-f60c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235776334997:ios:08e6de48e9a26f176d4f9c</string>
</dict>
</plist>